<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Todo List</title>
  </head>
  <body>
    <script>
      function checkAll() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = true;
        }
      }
  </script>
    <h1>Todo List</h1>
    <form id="new-task" method="POST" action="{{ url_for('add_task') }}">
      <input type="text" name="task" placeholder="Enter a new task" required>
      <input type="submit" value="Add">
    </form>
    <ul>
      <button onclick="checkAll()">Marcar todos</button>
      {% for task in tasks %}
      <li>
        <input type="checkbox" >
        {{ task }}

        <form class="delete-form" method="POST" action="{{ url_for('delete_task') }}">
          <input type="hidden" name="task" value="{{ task }}">
          <input type="submit" value="Delete">
        </form>
      </li>
      {% endfor %}
    </ul>
  </form>
  </body>
</html>